/*
Box
Border
Background
Text
Others
*/
@tailwind preflight
@tailwind utilities
@import 'sprites.styl'
@import 'utils.styl'

html, body
    font-family 'Open Sans', sans-serif

#app
    background #fafafa