/*
Box
Border
Background
Text
Others
*/
@import 'sprites.styl'
@import 'utils.styl'

*
    box-sizing border-box

html, body
    font-family 'Open Sans', sans-serif
    font-weight normal

#app
    background #fafafa